#node_modules
node_modules

#environment
.env.*
!.env.example

#package-lock
package-lock.json



#Customs
*BACKEND_SERVICE_PRD.md
*ADMIN_PRD.md 
*AGEN_MODULE_PRD.md 
*FAMER_PAYMENT_PRD.md 
*FARMER_PROFILE_PRD.md 
*MASTER_PRD.md
*PUBLIC_DISCOVERY_PRD.md